.feedback-container {
  height: 100%;
  width: 100%;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  // background-color: rgba(0, 0, 0, 0.8);;
  z-index: 1;

  .feedback-background {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    // z-index: 0;
  }

  .feedback-form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70%;
    width: 90%;
    border-radius: 15px;
    background-image: linear-gradient(10deg, #6c7086 20%, #4a38ec 180%);
    box-shadow: 20px 20px 50px black;
    z-index: 1;
    position: relative;

    @media screen and (min-width: 800px) {
      height: 80%;
      width: 800px;
    }

    .close-icon {
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f8d800;
      border-radius: 20px;
      margin-right: 45px;
      position: absolute;
      top: 10px;
      right: -30px;
      z-index: 1;
      cursor: pointer;
    }

    .content-form {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-around;
      height: 100%;
      width: 100%;
      flex-direction: column;
      gap: 30px;

      .name-inputBox {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        label {
          margin-bottom: 10px;
          font-size: 10px;
          letter-spacing: 2px;
          font-size: 15px;
          font-weight: bold;
        }

        input {
          padding: 5px 30px;
          border: 1px solid #000;
          outline: none;
          transition: 0.5s;
          border-radius: 25px;
          background: transparent;
          width: 80%;
          height: 40px;

          &:focus,
          &:valid {
            color: #000;
            box-sizing: inset 3000px 0 #000;
          }
        }
      }

      .feedback-inputBox {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 50%;

        label {
          margin-bottom: 10px;
          font-size: 10px;
          letter-spacing: 2px;
          font-size: 15px;
          font-weight: bold;
        }

        textarea {
          padding: 20px 20px;
          border: 1px solid #000;
          outline: none;
          transition: 0.5s;
          border-radius: 25px;
          background: transparent;
          width: 80%;
          height: 90%;

          &:focus,
          &:valid {
            color: #000;
            box-sizing: inset 3000px 0 #000;
          }

          &::-webkit-scrollbar {
            width: 5px;
          }

          &::-webkit-scrollbar-track {
            box-shadow: inset 0 0 6px #201f32;
          }

          &::-webkit-scrollbar-thumb {
            background-color: #3d3f95;
            outline: 1px solid black;
            border-radius: 10px;

            &:hover {
              background-color: #625fa5;
            }
          }

          &::-webkit-scrollbar-button {
            width: 10px;
          }
        }
      }
      button {
        // position: absolute;
        // bottom: 100px;
        padding: 7px 45px;
        margin-bottom: 20px;
        border-radius: 5px;
        border: 1px solid #000;
        background-color: transparent;
        transition: 0.5s;
        font-weight: bold;
        background-color: #f8d800;

        &:hover {
          transform: scale(110%);
          background-color: #f8d800;
          columns: #000;
          cursor: pointer;
          letter-spacing: 2px;
        }
      }
    }
  }
}
