

    .imposter-showcase-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin-left: 10px;
        margin-right: 10px;
    

        .imposter-showcase-text{
            width: 100%;
            height: 120px;
            margin-top: 15px;
            text-align: center;
            

        }
    
        .imposter-showcase-button {
            margin-top: 30px;
        }
    }
