.add-players-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;


    .players-container {
        width: auto;
        height: 500px;
        overflow-y: auto;
        padding-left: 150px;
    }

    .player-next-container {
        display: flex;
        justify-content: space-around;
        position: absolute;
        bottom: 0;
        margin-bottom: 40px;

        img {
            margin-left: 25px;
        }
    }
}