.add-players-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;


    h3 {
        font-family: 'Pacifico', cursive;
        text-align: center;
        color: white;
    }

    @media screen and (min-width: 800px) {
        width: 800px;
    }


    .players-container {
        width: auto;
        height: 500px;
        overflow-y: auto;
        padding-left: 150px;

        @media screen and (min-width: 800px) {
            width: auto;
            height: 450px;
            padding: 0px;
            padding-left: 20px;
        }
    }

    .player-next-container {
        width: 80%;

        display: flex;
        justify-content: space-around;
        position: absolute;
        bottom: 0;
        margin-bottom: 40px;

        @media screen and (min-width: 800px) {
            width: 800px;
            display: flex;
            justify-content: center;
            position: absolute;
            bottom: 0;

            button {
                margin-left: 30px;
            }
        }

        
    }
}