.imposter-info-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 100px;
    align-items: center;

    color: white;

    @media screen and (min-width: 800px) {
        width: 800px;
        height: 100%;
        justify-content: center;
        margin-top: 0px;
    }
    


    .player-showcase-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        margin-left: 10px;
        margin-right: 10px;

        .player-showcase-text {
            width: 100%;
            height: 120px;
            margin-top: 15px;
            text-align: center;

        }


        .player-showcase-button {
            margin-top: 30px;
        }
    }
}