.vote-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    color: white;

    @media screen and (min-width: 800px) {
        width: 800px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
    }

    .players-vote-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-top: 30px;

        @media screen and (min-width: 800px) {
            width: 100%;
            margin-top: 10px;
        }

        .voting-players-container{
            width: 100%;
            height: 500px;
            overflow-y: auto;
            overflow-x: hidden;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;

            color: black;

            
            

            @media screen and (min-width: 800px) {
                width: 800px;
                padding: 0px;
                align-items: center;

                &::-webkit-scrollbar {
                    width: 5px;
                }
        
                &::-webkit-scrollbar-track {
                    box-shadow: inset 0 0 6px #201F32;
                }
        
                &::-webkit-scrollbar-thumb {
                    background-color: #3D3F95;
                    outline: 1px solid black;
                    border-radius: 10px;
        
                    &:hover {
                        background-color: #625FA5;
                    }
                }
        
                &::-webkit-scrollbar-button {
                    width: 10px;
                }
            }
        }
    }

    .imposter-vote-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        @media screen and (min-width: 800px) {
            width: 100%;
            height: 100%;
            margin-top: 30px;
        }

        .voting-topics-container {
            width: 100%;
            height: 400px;
            overflow-y: auto;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            color: black;
            cursor: pointer;

            &::-webkit-scrollbar {
                width: 5px;
            }
    
            &::-webkit-scrollbar-track {
                box-shadow: inset 0 0 6px #201F32;
            }
    
            &::-webkit-scrollbar-thumb {
                background-color: #3D3F95;
                outline: 1px solid black;
                border-radius: 10px;
    
                &:hover {
                    background-color: #625FA5;
                }
            }
    
            &::-webkit-scrollbar-button {
                width: 10px;
            }
            
            @media screen and (min-width: 800px) {
                width: 100%;
                height: 450px;
            }

            .voting-topics {
                width: 80%;
                height: 100%;
                margin: 10px;
                border: 1px solid black;
                background-image: linear-gradient( 135deg, #FDEB71 10%, #F8D800 100%);
                color: blacks;
                border-radius: 15px;
                box-shadow: 3px 3px #3b3b3b;
                text-align: center;

                

                @media screen and (min-width: 800px) {
                    width: 70%;
                }
            }
        }
    }
}