.vote-container {
    width: 100%;
    height: 100%;

    @media screen and (min-width: 800px) {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .players-vote-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        @media screen and (min-width: 800px) {
            width: 80%;
        }

        .voting-players-container{
            width: 100%;
            height: 500px;
            overflow-y: auto;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding-left: 25%;
            padding-left: 25%;
            
        }
    }

    .imposter-vote-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        @media screen and (min-width: 800px) {
            width: 80%;
        }

        .voting-topics-container {
            width: 100%;
            height: 500px;
            overflow-y: auto;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            

            .voting-topics {
                width: 80%;
                height: 100%;
                margin: 10px;
                border: 1px solid white;
                border-radius: 10px;
                box-shadow: 5px 5px;
                text-align: center;

                
            }
        }
    }
}