.vote-container {
    width: 100%;
    height: 100%;

    color: white;

    @media screen and (min-width: 800px) {
        width: 60%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .players-vote-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-top: 30px;

        @media screen and (min-width: 800px) {
            width: 80%;
            margin-top: 0px;
        }

        .voting-players-container{
            width: 100%;
            height: 500px;
            overflow-y: auto;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding-left: 25%;
            padding-left: 25%;

            color: black;
            
        }
    }

    .imposter-vote-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        @media screen and (min-width: 800px) {
            width: 80%;
        }

        .voting-topics-container {
            width: 100%;
            height: 400px;
            overflow-y: auto;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;
            color: black;
            

            .voting-topics {
                width: 80%;
                height: 100%;
                margin: 10px;
                border: 1px solid black;
                background-image: linear-gradient( 135deg, #FDEB71 10%, #F8D800 100%);
                color: blacks;
                border-radius: 15px;
                box-shadow: 3px 3px #3b3b3b;
                text-align: center;

                
            }
        }
    }
}