.select-topic-container {
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    h3 {
        font-family: 'Pacifico', cursive;
        color: white;
    }

    @media screen and (min-width: 800px) {
        width: 800px;
        height: 85vh;

    }

    .topics-container {
        display: grid;
        width: 80%;
        height: 60%;
        overflow-y: auto;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 30px;
        row-gap: 0px;
        padding: 10px;
        border: 2px solid #3b3b3b;
        border-radius: 10px;

        @media screen and (min-width: 800px) {
            width: 95%;
            height: 80%;
            row-gap: 60px;

        }
    }
}