.player-info-container {
    width: 100vw;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;

    @media screen and (min-width: 800px) {
        width: 100%;
    }

    .remove-player-img {
        width: 30%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        

        
    }

    .player-info {
        width: 80%;
        height: 100%;
        margin-right: 100px;
        display: flex;
        justify-content: space-around;
        border: 1px solid black;
        background-image: linear-gradient( 135deg, #FDEB71 10%, #F8D800 100%);
        color: blacks;
        border-radius: 15px;
        box-shadow: 3px 3px #3b3b3b;

        &.vote {
            text-align: center;
        }
        
        .player-name {
            width: 70%;
            height: 100%;
            font-size: 20px;
            
        }

        .player-points {
            width: 30%;
            height: 100%;
            font-size: 20px;
            display: flex;
            justify-content: flex-end;
        }
        h2 {
            padding-left: 5px ;
            padding-right: 5px ;
        }
    }

}